<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="/Static/Style.css">
</head>
<body>

<h1>Add Book</h1>

<form action="/books" method="POST">
    <input type="number" name="book_id" placeholder="Book ID" required>
    <input type="text" name="title" placeholder="Book Title" required>
    <input type="text" name="author" placeholder="Author" required>
    <input type="text" name="category" placeholder="Category" required>

    <button type="submit">Add Book</button>
</form>

<a href="/">Back Home</a>

</body>
</html>