<!DOCTYPE html>
<html>

<head>

    <title>Library Management System</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <!-- ================= NAVBAR ================= -->

    <div class="navbar">

        <div class="logo">
            Lib<span>Manage</span>
        </div>

        <div class="nav-links">

            <a href="/books-page">Books</a>

            <a href="/students">Students</a>

            <a href="/issue-book">Issue</a>

            <a href="/return-book">Return</a>

        </div>

    </div>


    <!-- ================= HERO SECTION ================= -->

    <div class="hero">

        <div class="hero-text">

            <h1>

    Smart <span>Library</span> Management System

</h1>
            <p class="subtitle">

                Manage books, issue records, students,
                and returns in a modern dashboard.

            </p>

            <div class="hero-buttons">

                <a href="/add-book">Add Book</a>

                <a href="/books-page">View Books</a>

            </div>

        </div>


    

    <!-- ================= FEATURES ================= -->

    <div class="cards">

        <div class="card">

            <h2>Add Books</h2>

            <p>

                Add and manage all library books
                easily with database support.

            </p>

        </div>

        <div class="card">

            <h2>Issue Books</h2>

            <p>

                Track issued books, issue dates,
                and return dates instantly.

            </p>

        </div>

        <div class="card">

            <h2>Students</h2>

            <p>

                Maintain student records and
                access issued book details.

            </p>

        </div>

    </div>

</div>

</body>
</html>