<!DOCTYPE html>
<html>

<head>

    <title>Return Book</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h2>Return Book</h2>

        <form action="/return-book" method="POST">

            <input type="text"
                   name="book_id"
                   placeholder="Book ID"
                   required>

            <button type="submit">Return Book</button>

        </form>

        <br>

        <a href="/">Back Home</a>

    </div>

</body>
</html>