<!DOCTYPE html>
<html>

<head>
    <title>Students</title>

    <link rel="stylesheet" href="/Static/Style.css">

</head>

<body>

    <h1>Students / Members</h1>

    <table>

        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
        </tr>

        <tr>
            <td>101</td>
            <td>Abi</td>
        </tr>

        <tr>
            <td>102</td>
            <td>Amith</td>
        </tr>

        <tr>
            <td>103</td>
            <td>Lahar</td>
        </tr>

        <tr>
            <td>104</td>
            <td>Siri</td>
        </tr>

        <tr>
            <td>105</td>
            <td>Akhil</td>
        </tr>

        <tr>
            <td>106</td>
            <td>Nikky</td>
        </tr>

    </table>

    <br>

    <a href="/">Back Home</a>

</body>

</html>