<!DOCTYPE html>
<html>

<head>

    <title>Students</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <!-- Heading -->

        <h1>👨‍🎓 Students List</h1>

        <p class="subtitle">
            View all registered students in the library system
        </p>

        <!-- Students Table -->

        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Abi</td>
                <td>CSE</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Siri</td>
                <td>ECE</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Lahar</td>
                <td>CSE</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Karthik</td>
                <td>EEE</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Akhil</td>
                <td>MECH</td>
            </tr>

        </table>

        <br><br>

        <!-- Buttons -->

        <a href="/">🏠 Back Home</a>

        <a href="/books">📚 View Books</a>

    </div>

</body>

</html>