*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:#050807;
    color:white;
    padding:35px;
}

.container{
    width:88%;
    margin:auto;
    padding:45px;
    border-radius:35px;
    background:
        radial-gradient(circle at right, rgba(0,255,210,0.28), transparent 35%),
        linear-gradient(135deg,#07110e,#0f231f,#07110e);
    border:1px solid rgba(255,255,255,0.12);
    box-shadow:0 0 45px rgba(0,255,200,0.12);
}

.navbar,.menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:70px;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.logo span,
h1 span{
    color:#19f5c3;
}

.menu a,
.nav-links a,
.hero-buttons a,
.card a{
    color:white;
    text-decoration:none;
    padding:12px 18px;
    border-radius:12px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.15);
    margin-right:10px;
    transition:0.3s;
}

.menu a:hover,
.nav-links a:hover,
.hero-buttons a:hover,
.card a:hover{
    background:#19f5c3;
    color:#00110d;
}

h1{
    font-size:68px;
    font-weight:300;
    margin-bottom:18px;
}

.subtitle{
    color:#c7d7d3;
    font-size:18px;
    margin-bottom:55px;
    line-height:30px;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    margin-bottom:70px;
}

.hero-text{
    flex:1;
}

.hero-buttons{
    margin-top:35px;
}

.hero-card{
    width:380px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:18px;
}

.small-card{
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.12);
    transition:0.3s;
}

.small-card:hover{
    background:rgba(25,245,195,0.12);
    transform:translateY(-5px);
}

.small-card h3{
    color:#cfe5df;
    margin-bottom:15px;
    font-size:18px;
}

.small-card p{
    font-size:32px;
    font-weight:bold;
    color:#19f5c3;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    border-radius:22px;
    overflow:hidden;
    border:1px solid rgba(255,255,255,0.12);
}

.card{
    min-height:250px;
    padding:28px;
    background:rgba(5,15,12,0.94);
    border-right:1px solid rgba(255,255,255,0.12);
    border-bottom:1px solid rgba(255,255,255,0.12);
    transition:0.3s;
}

.card:hover{
    background:rgba(17,52,43,0.95);
}

.card::before{
    content:"📚";
    display:block;
    font-size:52px;
    text-align:center;
    margin-bottom:18px;
}

.card h2{
    font-size:22px;
    margin-bottom:18px;
    color:white;
    font-weight:500;
}

.card p{
    color:#c8d7d4;
    line-height:28px;
    font-size:15px;
}

.card a{
    display:inline-block;
    margin-top:20px;
    color:#19f5c3;
    background:none;
    border:none;
    padding:0;
}

form{
    max-width:450px;
    padding:35px;
    border-radius:20px;
    background:rgba(5,15,12,0.95);
    border:1px solid rgba(255,255,255,0.12);
}

input{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    border:none;
    border-radius:12px;
    background:#09120f;
    border:1px solid rgba(255,255,255,0.15);
    color:white;
    font-size:15px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#19f5c3;
    color:#00110d;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    padding:16px;
    text-align:center;
    border:1px solid rgba(255,255,255,0.12);
}

th{
    background:rgba(25,245,195,0.12);
    color:#19f5c3;
}

td{
    background:rgba(255,255,255,0.04);
}

@media(max-width:900px){
    .cards{
        grid-template-columns:1fr;
    }

    .container{
        width:95%;
        padding:25px;
    }

    h1{
        font-size:42px;
    }

    .menu,
    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .hero{
        flex-direction:column;
    }

    .hero-card{
        width:100%;
    }
}